<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>New Product Created Page</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="shortcut icon" type="image/x-icon" href="images/shoe_logo.png">
 	<link th:href="@{styles/index.css}" rel="stylesheet" />
</head>
<body>

<div class="flex-container">
      <div class="dividecontainer1">
        <a class = "sitename" th:href="@{/home}"><h1>Sneakers Temple</h1></a>
      </div>
      <div class="dividecontainer2">

        <div class="dividecontainer3">
          <div class="logoimg"><img src="./images/shoelogo250.png" alt="Site logo"></div>
        </div>

        <div class="dividecontainer6">

	        <form method="post" th:action="@{/list-products-filtered}">
			    Filter: <input type="text" name="search_button" id="name" placeholder="Search here (by the name of the product)" size="50" />
			    &nbsp;
		    	<input type="submit" value="Search" />
			</form>
		
			<div class="dividecontainer5">
	          	<div class="advanced_search"><a href="advanced_search.html">Advanced Search</a></div>
	        </div>
        </div>
        <div class="dividecontainer8">
       		<p><a th:href="@{/list-clients}">List clients view</a></p>
       		<p><a th:href="@{/list-products}">List products view</a></p>
       		<!--<p><a th:href="@{/new-product.html}">Add a product</a></p>-->
       		<form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/new-product.html}">
                 <button sec:authorize="isAnonymous()" class="rl_button" >Add a product</button>
            </form>
            </br>
        	<form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/logout}">
                <button sec:authorize="isAuthenticated()" class="rl_button" type="submit">Logout</button>
                <button sec:authorize="isAnonymous()" th:href="@{~/login}" class="rl_button" type="submit">Login</button>
            </form>
			</br>
			    <!--<p><a href="/new-client.html">Register</a></p>  -->
			<form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/new-client.html}">
                 <button sec:authorize="isAnonymous()" class="rl_button">Register</button>
            </form>
			<div sec:authorize="hasRole('USER')">
		    	<p><a href="#">My Cart</a></p>
			</div>
	      	<div sec:authorize="hasRole('ADMIN')">
			    <p><a th:href="@{/adminpage}">Admin Page</a></p>
			</div>
			<div sec:authorize="hasRole('ADMIN')">
			    <p>Logged as [[${#httpServletRequest.remoteUser}]]</p>
			</div>
			<div sec:authorize="hasRole('USER')">
			    <p>Logged as [[${#httpServletRequest.remoteUser}]]</p>
			</div>
        </div>
      </div>
    </div>
 
    <div class="flex-container2">
      <div class="products">
        <div class="product_head"><h1>New Product added </h1></div>
			<p id="register_greetings" th:text="'Added the product ' + ${name} + ' with the description ' + ${description} + ' and price ' + ${price} " />
			<p><a style="text-decoration:none;"th:href="@{/home}">Return to products page</a></p>
	    <h3><a id="nextpage" href="#">Next Page</a></h3>
      </div>
    </div> 

    <div class="about">
      <h1>About this page  <a href="#">Link</a></h1>
    </div>
    
</body>
</html>